.button-form {
  font-size: 18px;
  line-height: 30px;

  padding: 15px 48px;

  cursor: pointer;

  color: $font-color-three;
  border: none;
  border-radius: 2px;
  background-color: $button-color-one;
}
