.button-form {
  background-color: $button-color-one;
  border: none;
  color: $font-color-three;
  font-size: 18px;
  line-height: 30px;
  padding: 15px 48px;
  border-radius: 2px;
  cursor: pointer;
}
