.button {
  background-color: transparent;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: none;

  color: $font-color-three;
  border-radius: 21px;
  padding: 12px 45px;
}

.button--white {
  border: 3px solid $button-border-color-two;
}

.button--pink {
  border: 3px solid $button-border-color-three;
  color: $font-color-two;
}

.button--gray {
  border: 3px solid $button-border-color-four;
  color: $font-color-five;
}
