.contact-info {
  background-color: $background-color-one;
}

.contact-info label {
  font-size: 14px;
  line-height: 30px;

  display: block;

  color: $font-color-two;
}

.contact-info input {
  width: 280px;
  height: 62px;
  padding-left: 23px;

  border: solid 2px $border-color-one;
}

.contact-info input::-moz-placeholder {
  font-size: 18px;
  font-weight: 400;

  opacity: 1;
  color: $font-color-one;
}

.contact-info input::-webkit-input-placeholder {
  font-size: 18px;
  font-weight: 400;

  opacity: 1;
  color: $font-color-one;
}

.contact-info input:-moz-placeholder {
  font-size: 18px;
  font-weight: 400;

  opacity: 1;
  color: $font-color-one;
}


.contact-info input:-ms-input-placeholder {
  font-size: 18px;
  font-weight: 400;

  opacity: 1;
  color: $font-color-one;
}
