.feedback {
  background-color: $background-color-one;
}

.feedback__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;

  text-align: center;

  color: $font-color-two;
}

.feedback__textarea {
  font-size: 18px;
  line-height: 30px;

  width: 280px;
  height: 200px;
  padding: 0 12px;
  padding-top: 20px;

  resize: none;

  border: solid 2px $border-color-one;
}

.feedback__textarea::-moz-placeholder {
  font-size: 18px;
  font-weight: 400;

  opacity: 1;
  color: $font-color-one;
}

.feedback__textarea::-webkit-input-placeholder {
  font-size: 18px;
  font-weight: 400;

  opacity: 1;
  color: $font-color-one;
}

.feedback__textarea:-moz-placeholder {
  font-size: 18px;
  font-weight: 400;

  opacity: 1;
  color: $font-color-one;
}


.feedback__textarea:-ms-input-placeholder {
  font-size: 18px;
  font-weight: 400;

  opacity: 1;
  color: $font-color-one;
}
