.form-container {
  background-color: $background-color-one;
}

.form-container__paragraph {
  font-size: 14px;
  line-height: 30px;

  padding: 0 15px;

  text-align: center;

  color: $font-color-one;
}
