.full-name {
  background-color: $background-color-one;
}

.full-name label {
  font-size: 14px;
  line-height: 30px;

  display: block;

  color: $font-color-two;
}

.full-name input {
  width: 280px;
  height: 62px;
  padding-left: 23px;

  border: solid 2px $border-color-one;
}

.full-name input::-moz-placeholder {
  font-size: 18px;
  font-weight: 400;

  opacity: 1;
  color: $font-color-one;
}

.full-name input::-webkit-input-placeholder {
  font-size: 18px;
  font-weight: 400;

  opacity: 1;
  color: $font-color-one;
}

.full-name input:-moz-placeholder {
  font-size: 18px;
  font-weight: 400;

  opacity: 1;
  color: $font-color-one;
}


.full-name input:-ms-input-placeholder {
  font-size: 18px;
  font-weight: 400;

  opacity: 1;
  color: $font-color-one;
}
