.img-upload {
  background-color: $background-color-one;
}

.img-upload__paragraph {
  font-size: 14px;
  line-height: 30px;

  padding: 0 25px;

  text-align: center;

  color: $font-color-one;
}

.img-upload__form {
  background-color: $background-color-two;
}

.effects__list {
  @include list-reset;
}
