.page-footer {
  min-height: 284px;

  background-color: $background-color-one;
}

.copyright__paragraph {
  font-size: 14px;
  line-height: 18px;

  color: $font-color-one;
}


.page-footer--none {
  display: none;
}
