.popup-failure {
  background-color: $background-color-one;
}

.popup-failure__title {
  font-size: 18px;
  line-height: 24px;

  color: $font-color-four;
}

.popup-failure__paragraph {
  font-size: 14px;
  line-height: 24px;

  color: $font-color-one;
}

.popup-failure .button-form {
  padding: 15px 110.5px;
}
