.popup-success {
  background-color: $background-color-one;
}

.popup-success__title {
  font-size: 18px;
  line-height: 24px;

  color: $font-color-four;
}

.popup-success__paragraph {
  font-size: 14px;
  line-height: 24px;

  color: $font-color-one;
}

.popup-success .button-form {
  padding: 15px 65.5px;
}
