.price {
  min-height: 470px;

  background-color: $background-color-two;
}

.price__table-wrapper {
  position: relative;

  overflow: hidden;

  min-height: 281px;
}

.price__table {
  position: absolute;
width: 840px;

  height: 100%;

  border-collapse: collapse;
}

.price__table--first {
  transform: translateX(0);
}

.price__table--middle {
  transform: translateX(-260px);
}

.price__table--last {
  transform: translateX(-520px);
}

.price__table-header {
  width: 280px;
  min-height: 98px;
  margin: 0;
  padding: 0;

  text-align: center;

  color: $font-color-three;
  border-left: 2px solid $border-color-one;
  background-color: $background-color-four;
}

.price__deal-name {
  display: block;

  margin-top: -9px;

  font-size: 18px;
  line-height: 30px;

  text-transform: lowercase;
}

.price__currency {
  display: block;

  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}

.price__table-cell {
  width: 280px;

  font-size: 14px;
  line-height: 30px;

  padding-left: 24px;

  color: $font-color-one;
  border: 2px solid $border-color-one;
  border-top: none;
}
