.radio {
  background-color: $background-color-two;
}

.radio__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  padding: 0 25px;

  text-align: center;

  color: $font-color-two;
}

.radio__list {
  font-size: 18px;
  line-height: 30px;

  color: $font-color-one;

  @include list-reset;
}
