.reviews {
  min-height: 353px;

  background-color: $background-color-one;
}

.reviews__item {
  margin: 0;

  text-align: center;
}

.reviews__slide {
  display: none;
}

.reviews__slide--active {
  display: block;
}

.reviews__author-name {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 30px;

  color: $font-color-four;
}

.reviews__paragraph {
  font-size: 14px;
  line-height: 30px;

  color: $font-color-one;
}
