$header-color: #2c3c4c;
$navigation-color:rgba(#000000, 0.5%);

$background-color-one: #ffffff;
$background-color-two: #f2f2f2;
$background-color-three: #1d2631;
$background-color-four: #283645;

$button-color-one: #2aab6d;
$button-border-color-two: #ffffff;
$button-border-color-three: #d22856;
$button-border-color-four: #dddfe0;

$font-color-one: #283645;
$font-color-two: #d22856;
$font-color-three: #ffffff;
$font-color-four: #000000;
$font-color-five: #dddfe0;

$heading-color: #000000;

$border-color-one: #e5e5e5;
